Package: xyplayer
Version: 0.8.6-1
Architecture: all
Maintainer: Zheng-Yejian<1035766515@qq.com>
Installed-Size: 1608
Depends: python3, python3-sip, python3-pyqt5, python3-pyqt5.qsci, python3-pyqt5.qtmultimedia, libqt5multimedia5, libqt5multimedia5-plugins, gdebi, gstreamer0.10-fluendo-mp3, gstreamer1.0-fluendo-mp3, gstreamer0.10-plugins-good, gstreamer1.0-plugins-good, gstreamer1.0-plugins-bad, gstreamer0.10-plugins-bad, gstreamer0.10-plugins-ugly, gstreamer1.0-plugins-ugly
Section: pyqt
Priority: optional
Homepage: https://github.com/Zheng-Yejian/xyplayer
Description: This is a simple musicplayer that can search, play, download musics from the Internet.
